#root {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  color: #ffffff;
}

.profile-card {
  border: none;
  border-radius: 8px;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 100%;
  background-color: #555555;
}

.profile-frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.profile-title {
  color: #ffffff;
}

.profile-title h2 {
  margin: 0 0 10px;
}

.profile-title a {
  color: #cccccc;
  text-decoration: none;
}

.profile-title h2:hover {
  text-decoration: dotted underline;
}

.social-icons {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  filter: invert(100%);
}

.social-icons:hover {
  filter: invert(20%);
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #666666;
  border-radius: 8px;
  margin-top: 20px;
}

.profile-icons {
  display: flex;
  justify-content: center;
}

.profile-details ul {
  list-style-type: square;
  display: block;
  flex-direction: row;
}
